This notebook will be used to display and analyze some data for my second blog post for Flatiron School

In [5]:
#import
import pandas as pd

In [6]:
#upload data
Hawaii_pase = pd.read_csv('HI_V_FX_Soil_Pase.csv')
del Hawaii_pase['Experiment']
del Hawaii_pase['Block']
del Hawaii_pase['PID']
del Hawaii_pase['Use_growth_04']
del Hawaii_pase['Counter']
Hawaii_pase.rename(columns={'Date_04': 'Date'}, inplace=True)
Hawaii_pase.rename(columns={'Soil_Pase_umol_g_hr_04': 'Soil_Pase_umol_g_hr'}, inplace=True)

Hawaii_pase[4:9]

  Location     Site Species Treatment     Date  Soil_Pase_umol_g_hr
4       HI  Volcano    ACKO        HN  6/20/18             1.281220
5       HI  Volcano    ACKO        HN  6/20/18             6.808329
6       HI  Volcano    ACKO        HN  6/20/18            31.643633
7       HI  Volcano    ACKO        HN  6/20/18            13.925025
8       HI  Volcano    ACKO        LN  6/20/18            15.191247

In [7]:
Hawaii_foliar = pd.read_csv('HI_V_FX_Size_FoliarCNIsotope_Data.csv', encoding='latin-1')
Hawaii_foliar[4:9]

,Counter,Location,Experiment,Site,Block,PID,Paired_PID,Species,Treatment,Lat_Deg,...,Aboveground_mass_g_wet_06,Root_g_dry_06,Use_allometry_06,Allometry_use_notes_06,AGB_est_kg_01,AGB_est_kg_02,AGB_est_kg_03,AGB_est_kg_04,AGB_est_kg_05,AGB_est_kg_06
4,5,HI,FX,Volcano,5,294,NaN,ACKO,HN,NaN,...,14760.0,NaN,0.5,"0.5 means use for allometry, but estimated tot...",0.000209,0.000553,0.136160,2.932580,4.375270,8.529826
5,6,HI,FX,Volcano,6,306,NaN,ACKO,HN,NaN,...,29060.0,NaN,0.5,"0.5 means use for allometry, but estimated tot...",0.000061,0.000227,0.164069,2.808932,6.700792,13.917131
6,7,HI,FX,Volcano,7,318,NaN,ACKO,HN,NaN,...,NaN,NaN,0.0,NaN,0.000332,0.002468,0.037770,0.021330,NaN,NaN
7,8,HI,FX,Volcano,8,330,NaN,ACKO,HN,NaN,...,NaN,11.3,0.0,No twig or leaf data recorded in initial sheet...,0.000281,0.000601,0.002325,0.000402,0.009619,0.011510
8,9,HI,FX,Volcano,1,240,NaN,ACKO,LN,NaN,...,4187.0,NaN,1.0,NaN,NaN,0.004113,0.196931,0.758009,0.505098,1.467905

In [9]:
Hawaii_SNF = pd.read_csv('HI_V_FX_SNF.csv')
del Hawaii_SNF['Counter']
del Hawaii_SNF['Block']
del Hawaii_SNF['Use_growth_04']
del Hawaii_SNF['Use_growth_06']
Hawaii_SNF[4:9]

,Location,Species,Treatment,Date_04,foliar_N_mg_g_04,Date_06,foliar_N_mg_g_06,Aboveground_mass_g_dry_06,AGB_est_kg_04,AGB_est_kg_06,...,Nfix_g_N_u_06,Nfix_g_N_yr_u_04,Nfix_g_N_yr_u_06,Nfix_g_N_yr_u_04_06,Nfix_g_N_kg_biomass_yr_u_04,Nfix_g_N_kg_biomass_yr_u_06,Nfix_g_N_kg_biomass_yr_u_04_06,Nfix_g_N_g_biomass_N_yr_u_04,Nfix_g_N_g_biomass_N_yr_u_06,Nfix_g_N_g_biomass_N_yr_u_04_06
4,HI,ACKO,HN,6/20/18,20.887287,7/18/19,22.321341,6448.672720,2.932580,8.529826,...,76.671520,7.420521,19.167880,50.004244,2.530373,2.247160,5.862282,0.203613,0.182932,0.477225
5,HI,ACKO,HN,6/20/18,23.185835,7/18/19,27.744302,12893.274940,2.808932,13.917131,...,132.749099,8.624298,33.187275,106.660901,3.070313,2.384635,7.664001,0.243543,0.184177,0.591928
6,HI,ACKO,HN,6/20/18,46.295002,7/18/19,NaN,NaN,0.021330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HI,ACKO,HN,6/20/18,NaN,7/18/19,20.083544,22.100000,0.000402,0.011510,...,0.090236,NaN,0.022559,NaN,NaN,1.959925,NaN,NaN,0.093351,NaN
8,HI,ACKO,LN,6/20/18,NaN,7/18/19,14.352184,1871.110303,0.758009,1.467905,...,12.413679,NaN,3.103420,NaN,NaN,2.114183,NaN,NaN,0.240461,NaN