This notebook will be used to display and analyze some data for my second blog post for Flatiron School

In [6]:
#import
import pandas as pd

In [7]:
#upload data
Hawaii_pase = pd.read_csv('HI_V_FX_Soil_Pase.csv')
del Hawaii_pase['Experiment']
del Hawaii_pase['Block']
del Hawaii_pase['PID']
del Hawaii_pase['Use_growth_04']
del Hawaii_pase['Counter']
Hawaii_pase.rename(columns={'Date_04': 'Date'}, inplace=True)
Hawaii_pase.rename(columns={'Soil_Pase_umol_g_hr_04': 'Soil_Pase_umol_g_hr'}, inplace=True)

Hawaii_pase[4:9]

  Location     Site Species Treatment     Date  Soil_Pase_umol_g_hr
4       HI  Volcano    ACKO        HN  6/20/18             1.281220
5       HI  Volcano    ACKO        HN  6/20/18             6.808329
6       HI  Volcano    ACKO        HN  6/20/18            31.643633
7       HI  Volcano    ACKO        HN  6/20/18            13.925025
8       HI  Volcano    ACKO        LN  6/20/18            15.191247

In [11]:
Hawaii_foliar = pd.read_csv('HI_V_FX_Size_FoliarCNIsotope_Data.csv', encoding='latin-1')
Hawaii_foliar[4:9]

,Counter,Location,Experiment,Site,Block,PID,Paired_PID,Species,Treatment,Lat_Deg,...,Aboveground_mass_g_wet_06,Root_g_dry_06,Use_allometry_06,Allometry_use_notes_06,AGB_est_kg_01,AGB_est_kg_02,AGB_est_kg_03,AGB_est_kg_04,AGB_est_kg_05,AGB_est_kg_06
4,5,HI,FX,Volcano,5,294,NaN,ACKO,HN,NaN,...,14760.0,NaN,0.5,"0.5 means use for allometry, but estimated tot...",0.000209,0.000553,0.136160,2.932580,4.375270,8.529826
5,6,HI,FX,Volcano,6,306,NaN,ACKO,HN,NaN,...,29060.0,NaN,0.5,"0.5 means use for allometry, but estimated tot...",0.000061,0.000227,0.164069,2.808932,6.700792,13.917131
6,7,HI,FX,Volcano,7,318,NaN,ACKO,HN,NaN,...,NaN,NaN,0.0,NaN,0.000332,0.002468,0.037770,0.021330,NaN,NaN
7,8,HI,FX,Volcano,8,330,NaN,ACKO,HN,NaN,...,NaN,11.3,0.0,No twig or leaf data recorded in initial sheet...,0.000281,0.000601,0.002325,0.000402,0.009619,0.011510
8,9,HI,FX,Volcano,1,240,NaN,ACKO,LN,NaN,...,4187.0,NaN,1.0,NaN,NaN,0.004113,0.196931,0.758009,0.505098,1.467905